{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Enter The Info</legend>
                <div class="form-group">
                    {{ form.company_name.label(class="form-control-label") }}

                    {% if form.company_name.errors %}
                        {{ form.company_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.company_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.company_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.medicine_name.label(class="form-control-label") }}
                    {% if form.medicine_name.errors %}
                        {{ form.medicine_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.medicine_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.medicine_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.Manufacturing_Date.label(class="form-control-label") }}
                    {% if form.Manufacturing_Date.errors %}
                        {{ form.Manufacturing_Date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Manufacturing_Date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Manufacturing_Date(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
                <a class="btn btn-outline-info" href="{{ url_for('mine') }}">Mine</a>
            
            </div>
        </form>
    </div>
    
{% endblock content %}